USE [master]
GO
/****** Object:  Database [memory]    Script Date: 06/16/2012 01:21:32 ******/
CREATE DATABASE [memory] ON  PRIMARY 
( NAME = N'memory', FILENAME = N'C:\Archivos de programa\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\memory.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'memory_log', FILENAME = N'C:\Archivos de programa\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\memory_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [memory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [memory]
GO
/****** Object:  User [memory]    Script Date: 06/16/2012 01:21:32 ******/
CREATE USER [memory] FOR LOGIN [memory] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[sesion]    Script Date: 06/16/2012 01:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sesion](
	[id] [nchar](20) NOT NULL,
	[inicio] [nchar](50) NULL,
	[fin] [nchar](50) NULL,
 CONSTRAINT [PK_sesion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[procesos]    Script Date: 06/16/2012 01:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[procesos](
	[sesion] [nchar](20) NOT NULL,
	[id] [nchar](20) NOT NULL,
	[nombre] [nchar](20) NOT NULL,
	[tamano] [decimal](18, 0) NOT NULL,
	[tiempo] [decimal](18, 0) NOT NULL,
	[entrada] [decimal](18, 0) NULL,
 CONSTRAINT [PK_procesos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_procesos_sesion]    Script Date: 06/16/2012 01:21:34 ******/
ALTER TABLE [dbo].[procesos]  WITH CHECK ADD  CONSTRAINT [FK_procesos_sesion] FOREIGN KEY([sesion])
REFERENCES [dbo].[sesion] ([id])
GO
ALTER TABLE [dbo].[procesos] CHECK CONSTRAINT [FK_procesos_sesion]
GO
